/*

BACKGROUND COLOR: #16192a;
CARD BACKGROUND: #222842;
FONT: #e9ebee;
ACCENT: #1ca1c0;
DIP: #fd4949

*/

/* REUSABLE */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.font {
  font-family: Open Sans;
  font-size: 1.5rem;
  color: #e9ebee;
}

/* START */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #16192a;
}

.container {
  max-width: 120rem;
  margin: 2.5rem auto;
  padding: 0 2.5rem;
  position: relative;
  border-radius: 5px;
  background-color: #16192a;
}

/* START */

/* HEADER */

.header {
  padding: 2.5rem 3.5rem;
  background-color: #101322;
}

.header nav {
  gap: 1.5rem;
}

.nav h2 {
  color: #e9ebee;
}

.search-input {
  width: 70rem;
  background-color: #101322;
  border: none;
  padding-left: 1.5rem;
}

.search-input:focus {
  outline: none;
}

.main {
  grid-template-columns: 0.5fr 1.5fr;
  gap: 2.5rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 32px !important;
  vertical-align: middle;
}

/* STOCK LIST PANEL */

.stock-list_content h1 {
  text-align: left;
  padding: 1.5rem 0;
}

.stock-list_content {
  background-color: #222842;
  border-radius: 5px;
  padding: 1.5rem;
}

.stock-list {
  list-style: none;
}

.stock-list_item {
  justify-content: space-between;
  padding: 1.5rem 0;
}

.fetching-stock-list_msg {
  text-align: center;
}

/* STOCK CHART HEADER */

.chart-header {
  justify-content: space-between;
  /* height: 3.5rem; */
  padding: 0 1.5rem;
}

.chart-header-title,
.chart-header-price {
  gap: 1.5rem;
  align-items: center;
}

.company-price {
  font-size: 2.5rem;
}

/* STOCK CHART */

.stock-data_container {
  width: 100%;
}

.chart_container {
  position: relative;
}

.chart_container h1 {
  position: absolute;
  top: 50%;
  left: 40%;
}

.stock-chart {
  width: 100% !important;
  height: 100% !important;
  margin: auto;
  border-radius: 5px;
  padding: 1.5rem;
}

/* TIME SERIES BUTTONS */

.time-button_grid {
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  margin: auto;
  padding: 2.5rem 0;
}

.time-button_grid button {
  background: none;
  border: none;
}

.time-button_grid button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #1ca1c0;
}

/* STOCK STATS */

.data_container {
  max-width: 70rem;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.data_container article {
  width: 15rem;
  height: 12rem;
  border-radius: 5px;
  text-align: center;
}

.key-stat {
  background-color: #222842;
}

.key-stat div {
  margin: auto;
}

.key-stat-high {
  color: #1ca1c0;
}
.key-stat-low {
  color: #fd4949;
}

.key-stat-high,
.key-stat-low,
.key-stat-volume {
  font-size: 2rem;
  font-weight: 700;
}

.stats-grid {
  margin: 2.5rem auto;
  padding: 1.5rem;
  gap: 3.5rem;
  background-color: #222842;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
}

.stats-content {
  justify-content: space-between;
}

/* COMPANY ABOUT */

.company-about_container {
  background-color: #222842;
  padding: 1.5rem;
  border-radius: 5px;
}

.company-about_content {
  padding-top: 1.5rem;
}

.company-about_details {
  justify-content: space-between;
  margin-top: 1rem;
}

.detail {
  align-items: baseline;
}

/* COMPANY NEWS */

.company-news_container {
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.company-news_content {
  grid-template-columns: 0.5fr 1fr;
  background-color: #222842;
  padding: 1.5rem;
  border-radius: 5px;
}

.company-news {
  padding: 1.5rem;
}

.company-news h3 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.company-news_img {
  object-fit: cover;
  width: 20rem;
  height: 20rem;
  border-radius: 5px;
}

.company-news_link {
  text-decoration: none;
}

/* ///////////// */
/* MEDIA QUERIES */
/* ///////////// */

@media (max-width: 40em) {
  .container {
    grid-template-columns: 1fr;
  }

  .header nav {
    display: block;
    margin: auto;
  }

  .logo,
  .input {
    justify-content: center;
  }

  .search-input {
    width: 25rem;
    padding: 1rem 0;
  }

  .stock-list_container,
  .top-stock-list {
    display: none;
  }

  .chart-header,
  .company-about_details {
    display: block;
    margin: auto;
    text-align: center;
  }

  .chart-header-price {
    padding-top: 1.5rem;
  }

  .company-name,
  .company-symbol,
  .company-currency,
  .company-price,
  .change-percent {
    margin: auto;
  }

  .detail {
    justify-content: center;
    padding: 1.5rem 0;
  }

  .data_container {
    gap: 2.5rem;
  }

  .data_container,
  .company-news_content {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .time-button_grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .time-button_grid div {
    justify-content: space-between;
  }

  .stats-grid {
    grid-template-columns: 1fr;
  }
}
